html,body{
	width: 100%;
	overflow-x: hidden;

}
body {
	margin-top:0;
	margin-left: 0;
}
.navigationSelect {
	position: absolute;
	right: 0;
	width: 397px;
	height: 61px;
	/*padding-right: 0px;*/
	z-index: 2;
}
.navigationInputText {
	position: absolute;
	padding-top: 15px;
	width: 397px;
	height: 60px;
	right: 0px;
	z-index: 3;
}
.navigationInputText input {
	width: 320px;
	height: 23px;
	padding: 5px;
	border: 1px solid #373535;
	background: #373535;
	color: #ffffff;
	font-size: 20px;
	outline: none;
}

.navigationGlass {
	position: absolute;
	width: 27px;
	height: 29px;
	z-index: 11;
	right: 15px;
	padding: 15px;
}
.search{
	display: inline;
	position: relative;
	float: left;
	left: 0;
	background-repeat:no-repeat;	
	/*overflow: hidden;*/
	margin: 0 auto;	
	width: 397px;
	height: 61px;
}


.navigation a {
	padding: 0 10px;
	color: #ffffff;
	text-decoration: none;
	/*border-right: 1px solid #ffffff;*/
}
.navigation a:hover {
	cursor: pointer;
	color: #000000;
}
.navigationText ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline
}
.navigationText li {
	display: inline;
	color: white;
	font-family: "黑体";
	font-size: 17px;
}
.navigationText {
	position: absolute;
	width: 700px;
	height: 61px;
	z-index: 2;
	right: 20px;
	padding: 21px;
}
.navigationLogo {
	position: absolute;
	width: 113px;
	height: 37px;
	z-index: 11;
	padding: 10px;
	left: 10px;
}
.navigationBack {
	position: absolute;
	z-index: 1;
}
.navigation {
	display: inline;	
	background-repeat:no-repeat;
	position: relative;
	float: left;
	left: 0;
	overflow: hidden;
	/*margin: 0 auto;*/
	width: 1203px;
	height: 61px;
}
.navigation-search{
	background-repeat:no-repeat;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 1600px;
	height: 61px;
}
.wholepage{
	position: relative;
	margin: 0 auto;
	background-color: #373636;
	width: 1600px;
	height: auto;
	/*top: 10px;*/
	overflow: hidden;
	/*height: 100%;*/
	z-index: 0;
}
.left-area{
	display: inline;
	position: relative;
	float: left;	
	margin-left: 0px;
	top: 0px;
	width: 180px;
	height: 360px;
	z-index: 1;

}
.user-headpic-area{
	position: relative;
	left: 0px;
	width: 180px;
	height: 180px;
	z-index: 2;
	

}

.changepage{
	display: inline;
	position: relative;
	float: left;
	margin-left: 0px;
	/*margin: 0 auto;*/
	width: 1420px;
	/*height: 380px;*/
	height: auto;
	/*background-color: red;*/
	z-index:3;
	
}
