/* HTML5 display-role reset for older browsers */
html,body{
	width: 100%;
	overflow-x: hidden;

}
body {
	margin-top:0;
	margin-left: 0;
}
/*.navigationSelect {
	position: absolute;
	right: 0;
	width: 397px;
	height: 61px;
	z-index: 2;
}

.navigationInputText {
	position: absolute;
	padding-top: 15px;
	width: 397px;
	height: 60px;
	right: 0px;
	z-index: 3;
}
.navigationInputText input {
	width: 320px;
	height: 23px;
	padding: 5px;
	border: 1px solid #373535;
	background: #373535;
	color: #ffffff;
	font-size: 20px;
	outline: none;
}

.navigationGlass {
	position: absolute;
	width: 27px;
	height: 29px;
	z-index: 11;
	right: 15px;
	padding: 15px;
}
.search{
	 display: inline;
	position: relative;
	float: left;
	left: 0;
	background-repeat:no-repeat;	
	overflow: hidden;
	margin: 0 auto;	
	width: 397px;
	height: 61px; 
}


.navigation a {
	padding: 0 10px;
	color: #ffffff;
	text-decoration: none;
}
.navigation a:hover {
	cursor: pointer;
	color: #000000;
}
.navigationText ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline
}
.navigationText li {
	display: inline;
	color: white;
	font-family: "黑体";
	font-size: 17px;
}
.navigationText {
	position: absolute;
	width: 770px;
	height: 61px;
	z-index: 2;
	right: 20px;
	padding: 21px;
}
.navigationLogo {
	position: absolute;
	width: 113px;
	height: 37px;
	z-index: 11;
	padding: 10px;
	left: 10px;
}
.navigationBack {
	position: absolute;
	z-index: 1;
}
.navigation {
	display: inline;	
	background-repeat:no-repeat;
	position: relative;
	float: left;
	left: 0;
	overflow: hidden;
	width: 1203px;
	height: 61px;
}
.navigation-search{
	background-repeat:no-repeat;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 1600px;
	height: 61px;
}*/
.wholeback{
	background-repeat:no-repeat;
	position: relative;	
	margin: 0 auto;
	background-color: #373636;
	width: 1600px;
	/*height: auto;*/
	/*top: 10px;*/
	overflow: hidden;
	/*height: 100%;*/
	z-index: 0;
}
.head-picture-area{
	background-repeat:no-repeat;
	position: relative;
	/*background-color: green;*/	
	width: 1600px;
	/*height: 267px;*/
	/*float: left;*/
	/*padding-left: 681px;*/
	top: 121px;
	height: 0 auto;
	overflow: hidden;
	/*margin-bottom: 185px;*/

	/*text-align: center;*/
}
.head-picture{
	display: inline;
	background-repeat:no-repeat;
	position: relative;	
	padding-left: 681px;
	float: left;


}
.zhi-picture{
	display: inline;
	position: relative;
	/*background-color: red;*/
	float: left;
	top: 68px;
	left: 278px;
}
.zhi-picture input{
	position: relative;
	top: 23px;
	width: 116px;
	height: 37px;
	color: white;
	font-family: "黑体";
	border: 0px solid #f5a623;
	background: #f5a623;
	font-size: 16px;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	/*background-image:url(images/navigation/按钮.png);*/
}
.zhi-picture input:hover{
	color:#373636;
	}
.buttonstyle{
	left: 23px;
}
.user-name-area{
	background-repeat:no-repeat;
	/*background-color: green;*/
	position: relative;	
	width: 1600px;
	/*float: left;*/	
	
	margin-top:185px;
	height:27px;
	/*overflow: hidden;*/
	text-align: center;
	font-size: 24px;
	font-family: "黑体";
	text-align: center;
	color: white;

}

.personality-name{
	background-repeat:no-repeat;
	/*background-color: green;*/
	position: relative;	
	width: 1600px;
	/*float: left;	*/	
	margin-top: 18px;
	height: 0 auto;
	overflow: hidden;
	text-align: center;
	font-size: 10px;
	font-family: "黑体";
	text-align: center;
	color: white;
	opacity: 0.56;
}
.navigation2{
	background-repeat: no-repeat;
	/*background-color: green;*/
	position: relative;
	width: 1600px;
	margin-top: 119px;
	height: 0 auto;
	text-align: center;
	height: 79px;
}
.navigation-two{

	background-repeat: no-repeat;
	/*background: url(images/personalcenter/小导航-底.png);*/
	
	/*background-color: red;*/
	position: relative;
	width: 1600px;
	margin-top: 119px;
	margin-left: 450px;
	width: 700px;
	height: 79px;
	line-height: 79px;
	vertical-align: middle;
	z-index: 100;
	text-align: center;
	
}

.navigation-two ul{
	
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline

} 
.navigation-two li{
	list-style-type: none;
	display: inline;
	margin: 0 auto;
	color: white;
	font-family: "黑体";
	font-size: 21px;
}

.navigation-two a {
	padding: 0 10px;
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
	/*border-right: 1px solid #ffffff;*/
}
.navigation-two a:hover{
	cursor: pointer;
}



.changepage{
	position: relative;
	width: 1600px;
	height: auto;
/*	height: auto;*/
	/*background-color: red;*/
	margin-top: 46px;
	/*min-height: 200px;
}*/
}
.baitiao1{
	position: relative;
	float: left;
	left: 542px;
	top: -4px;
	height: 4px;
	width: 108px;
	background-color: white;
	z-index: 111;
	/*visibility: hidden;*/
}
/*.baitiao1:hover{
	visibility: visible;
}
*/